input {
  background: #2d303e;
  border: 1px solid #393c49;
  border-radius: 8px;
  padding: 14px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  /* identical to box height, or 20px */

  /* Text/Light */

  color: #abbbc2;
}
input:focus{
  background: transparent !important;
}
