.LoginWrapper{
    width: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.LoginWrapper input{
    margin-top: 20px;
    outline: none;
}
.LoginSubmitBtn{
    width: 90%;
    border: none;
    margin-top: 20px;
    border-radius: 8px;
    background: #ea7c69;
    box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.3) !important;
    color: white;
    font-weight: 700;
    font-size: 20px;
    padding: 6px 0px;
}
.toast-message {
    width: 27vw;
    padding: 25px 15px;
}
.ForgotPassword{
    display: flex;
    width: 90%;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.ForgotPassword p{
     color: #abbbc288;
    font-size: 20px;
}
.ForgotPassword a {
    font-size: 20px;
    font-weight: 100;
    color: rgb(0, 162, 255);
}