.SignUp-title{
    display: flex;
    justify-content: center;
}
.signUpWrapper{
    max-width: 450px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.signUpWrapper input{
    margin-top: 20px;
}

.SignUpName:focus{
    outline: none;
    border: none;
      background: #2d303e;

}
.SignUpEmail:focus {
    outline: none;
    border: none;
      background: #2d303e;

}
.SignUpPassword:focus {
    outline: none;
    border: none;
      background: #2d303e;

}
.signSubmitBtn {
    width: 90%;
    border: none;
    margin-top: 20px;
    border-radius: 8px;
    background: #ea7c69;
  box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.3) !important;
    color: white;
    font-weight: 700;
    font-size: 20px;
    padding: 6px 0px;
}