.mostCircle .recharts-wrapper svg{
    height: 320px !important;
}
.recharts-wrapper{
    width: 100% !important;
    height: 320px !important;
}
.recharts-legend-wrapper{
    display: none;
}
.recharts-default-legend{
    display: none;
}
