.nav-tabs2{
    width: 100%;
    justify-content: space-between;
    position: relative;
}
.nav-tabs2::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: grey;
    bottom: 0;
}
.nav-itemm2 a{
    font-family: Barlow;
    font-size: 14px !important;
    font-weight: 900 !important;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    z-index: 999;
    color: white !important;

}
.nav-itemm2 a:hover{
    background-color: transparent !important;
    text-decoration: none;
}
.nav-itemm2 a.active{
      background-color: transparent !important;
      text-decoration: none;
      border-color: #ea7c69 !important;
      color: #ea7c69 !important;
      border-bottom: 4px solid #ea7c69;
      z-index: 999 !important;
      position: relative;
    }