.settingLists {
  width: 400px;
  height: calc(100vh - 20vh);
  z-index: 111111;
  background: #1f1d2b;
  border-radius: 8px;
  overflow-y: scroll;
  position: relative;
  .itemLink {
    position: relative;
    background: transparent;
    text-decoration: none;
    display: block;
    .ItemWrapper {
      padding: 24px;
      display: flex;
      .iconWrapper {
        color: #abbbc2;
        font-size: 20px;
      }
      .textWrapper {
        padding: 0 10px;
        h4 {
          font-family: "Barlow";
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 130%;
          margin-bottom: 5px;
          /* or 18px */

          /* White */

          color: #ffffff;
        }
        p {
          margin: 7px 0;
          font-family: "Barlow";
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 140%;
          /* identical to box height, or 17px */

          /* Text/Light */

          color: #abbbc2;
        }
      }
    }
  }
  .itemLinkActive {
    position: relative;
    background: rgba(234, 124, 105, 0.26);
    display: block;
    text-decoration: none;
    &::after {
      display: block;
      width: 4px;
      height: 40%;
      background: #ea7c69;
      border-radius: 30px;
      content: "";
      position: absolute;
      right: 0;
      top: 30%;
      bottom: 30%;
    }
    .ItemWrapper {
      padding: 24px;
      display: flex;
      .iconWrapper {
        color: #abbbc2;
        font-size: 20px;
      }
      .textWrapper {
        padding: 0 10px;
        h4 {
          font-family: "Barlow";
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 130%;
          margin-bottom: 5px;
          /* or 18px */

          /* White */

          color: #ffffff;
        }
        p {
          margin: 7px 0;
          font-family: "Barlow";
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 140%;
          /* identical to box height, or 17px */

          /* Text/Light */

          color: #abbbc2;
        }
      }
    }
  }
}
.WrapperLeftPage {
  overflow-y: scroll;
  height: 100vh;
  padding: 20px 20px 20px 0px;
  h3 {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    /* identical to box height, or 28px */

    /* White */

    color: #ffffff;
  }
  .select {
    background: red;
    display: inline-block;
    background: #1f1d2b;
    border: 1px solid #393c49;
    border-radius: 8px;
    padding: 0px 14px;
  }
  select {
    padding: 15px 0px;

    background: #1f1d2b;
    font-family: "Barlow";
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    /* or 18px */
    /* White */
    color: #ffffff;
    &:focus {
      border: none;
    }
    option {
      font-family: "Barlow";
      font-style: normal;
      font-weight: 900;
      font-size: 14px;
      line-height: 130%;
      /* or 18px */
      /* White */
      color: #ffffff;
    }
  }
}
