.settingLists {
  width: 400px;
  height: calc(100vh - 20vh);
  z-index: 111111;
  background: #1f1d2b;
  border-radius: 8px;
  overflow-y: scroll;
  position: relative;
  .itemLink {
    position: relative;
    background: transparent;
    text-decoration: none;
    display: block;
    .ItemWrapper {
      padding: 24px;
      display: flex;
      .iconWrapper {
        color: #abbbc2;
        font-size: 20px;
      }
      .textWrapper {
        padding: 0 10px;
        h4 {
          font-family: "Barlow";
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 130%;
          margin-bottom: 5px;
          /* or 18px */

          /* White */

          color: #ffffff;
        }
        p {
          margin: 7px 0;
          font-family: "Barlow";
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 140%;
          /* identical to box height, or 17px */

          /* Text/Light */

          color: #abbbc2;
        }
      }
    }
  }
  .itemLinkActive {
    position: relative;
    background: rgba(234, 124, 105, 0.26);
    display: block;
    text-decoration: none;
    &::after {
      display: block;
      width: 4px;
      height: 40%;
      background: #ea7c69;
      border-radius: 30px;
      content: "";
      position: absolute;
      right: 0;
      top: 30%;
      bottom: 30%;
    }
    .ItemWrapper {
      padding: 24px;
      display: flex;
      .iconWrapper {
        color: #abbbc2;
        font-size: 20px;
      }
      .textWrapper {
        padding: 0 10px;
        h4 {
          font-family: "Barlow";
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 130%;
          margin-bottom: 5px;
          /* or 18px */

          /* White */

          color: #ffffff;
        }
        p {
          margin: 7px 0;
          font-family: "Barlow";
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 140%;
          /* identical to box height, or 17px */

          /* Text/Light */

          color: #abbbc2;
        }
      }
    }
  }
}
.WrapperLeftPage {
  height: 100vh;
  padding: 20px 20px 20px 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  .pagination {
    width: 70%;
    overflow-x: scroll;
    margin: auto;

    display: flex;
    justify-content: space-between;
  }
  .page-item {
    background: #1f1d2b;
    a {
      color: white !important;
      padding: 0.2rem 1rem !important;

      &:hover {
        background: transparent !important;
        text-decoration: none;
      }
    }
  }
  h3 {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    /* identical to box height, or 28px */

    /* White */

    color: #ffffff;
  }
  .select {
    background: red;
    display: inline-block;
    background: #1f1d2b;
    border: 1px solid #393c49;
    border-radius: 8px;
    padding: 0px 14px;
  }
  select {
    padding: 15px 0px;

    background: #1f1d2b;
    font-family: "Barlow";
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    /* or 18px */
    /* White */
    color: #ffffff;
    &:focus {
      border: none;
    }
    option {
      font-family: "Barlow";
      font-style: normal;
      font-weight: 900;
      font-size: 14px;
      line-height: 130%;
      /* or 18px */
      /* White */
      color: #ffffff;
    }
  }
  .ordersWrapp1 {
    background: #1f1d2b;
    height: 100vh;
  }
}
.ordersWrapp1{
  background: #1F1D2B;
padding-right: 30px;
  background: #1f1d2b;
 
}
.WrapperCard{
  padding: 20px 0;
}
.Pay{
  position: fixed;
  top: 0;
  right: 0;
  background: #1F1D2B;
  width: 465px;
  height: 100vh;
  padding: 24px 24px;
  z-index: 111;
  border-radius: 12px;
  // display: none;
  // transform: translateX(510px);


  &__Span{


    &__title{
      //styleName: Heading/H1;
      font-family: Barlow;
      font-size: 28px;
      font-weight: 600;
      line-height: 39px;
      letter-spacing: 0em;
      text-align: left;
      margin: 0;
    }
    &__deck{
      //styleName: Body/Large - Medium;
      font-family: Barlow;
      font-size: 16px;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: left;
      color: #ABBBC2;
      margin-top: 8px !important;
    }
  }

  &__title{
    //styleName: Heading/H2;
    font-family: Barlow;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    margin: -10px 0px;
  }
}


.Pay-ul{
  display: flex;
  gap: 20px;


  .TabPay{
    // height: 64px;
    width: 101px;
    border-radius: 8px;
    padding: 5px 5px 5px 5px;
    border:1px solid #393c49;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    color: white !important;
    position: relative;
    text-decoration: none;

    .cardichka{
      font-size: 24px !important;
    }

    .payCard{


      h4{
        font-size: 16px;
      }
    }
  }
}

.ptichka{
  position: absolute;
  top: 1 !important;
  right: 0;
  color: #ea7c69;
  display: none;
}
.Pay-ul li a.active .ptichka{
display: block;
}
.Pay-ul li a.active{
  border-color: white !important;
  background: rgba(255, 255, 255, 0.229) !important;
}



.Tab1Form{
    // background-color: red !important;
    align-items: flex-start;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    margin-top: -15px !important;

    label{
      //styleName: Body / Normal - Medium;
      font-family: Barlow;
      font-size: 14px;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: left;
      color: #FFFFFF;
      margin: 5px 0px 2px 0px;
    }
    input{
      border: 1px solid #393C49;
      padding: 10px;
      outline: none;
      width: 100%;
      }
     
    hr{
      width: 100%;
    }
  .Tab1Input1{
    text-align: left !important;
    padding: 0 !important;
    margin: 0 !important;

  }
  .smalInput{
    width: 100%;
    display: flex;
    gap: 14px;
    
    span{
      width: 48%;

    }
  }
  .smalInput2{
    width: 100%;
    gap: 14px;
    margin-top: -20px;
    // background-color: red;
  }
  .Tab1Select{
     width: 100%;
     border: 1px solid #393C49;
     background: #1F1D2B;
     border-radius: 8px;
     overflow: hidden;
     height: 43px;
     margin-top: 2px;
     padding: 0 20px !important;
     display: flex;
     align-items: center;
  }
  select{
    width: 100%;
    border: none;
    outline: none;
  }
  
  span{
    width: 50%
  }
}
.paymennt{
  gap: 14px;
  margin-top: 20px !important;



  .Cancel{
    border: 1px solid #EA7C69;
    background: transparent;
    color: #EA7C69;
    font-family: Barlow;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    padding: 10px 34px;
    border-radius: 8px;

  }
  .Confirm{
      background-color: #EA7C69;
      border: none;
      box-shadow: 0px 8px 24px 0px #EA7C6966;
      color: white;
      font-family: Barlow;
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: center;
    padding: 10px 34px;
    border-radius: 8px;
  }
}